* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    border: none;
    font-family: 'Poppins',sans-serif;
}
:root{
    --bg-color:#1f242d;
    --bg-second-color:#323946;
    --text-color:#fff;
    --sidebar-color:#303030;
    --main-color:#0ef;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.wrapper{
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.top_bar{
    display: none;
}
.side_bar{
    position: fixed;
    background: var(--sidebar-color);
    width: 300px;
    height:100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    overflow: auto;
}
.close_side_bar{
    display: none;
}
.interduction_part{
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.interduction_part img{
    width: 200px;
}
.side_bar_main_content{
    width: 100%;
    overflow: auto;
}
.side_bar_main_content ul li a{
    display: block;
	padding: 13px 30px;
	border-bottom: 1px solid var(--main-color);
	color: rgb(241, 237, 237);
	font-size: 16px;
    transition: 1s;
	position: relative;
}
.side_bar_main_content ul li a:hover{
	color: var(--bg-second-color);
	background: var(--main-color);
    border-right: 2px solid rgb(5, 68, 104);
}
.main_bar{
    width:100%;
    background-color:darkslategrey;
    height: 105vh;
}

@media (max-width:991px){
    .top_bar{
        display: flex;
        padding: 10px 4rem;
        justify-content: space-between;
        top: 0px;
        font-size: 15px;
        left: 0px;
        align-items: center;
        background: #303030e8;
        width: 100%;
        height: 70px;
    }
    .side_bar{
        display: none;
    }
    .close_side_bar{
        display: block;
        width: 20px;
        height: 20px;
        margin-top: 15px;
        font-size: 20px;
        color: #fff;
        position: absolute;
        right: 25px;
        transition: .5s;
    }
    .side_bar .close_side_bar:hover{
        color: var(--main-color);
        font-size: 25px;
    }
    .side_bar_icon{
        color:var(--text-color);
        font-size: 50px;
        transition: .5s;
    }
    .main_bar .side_bar_icon:hover{
        color: var(--main-color);
        font-size: 55px;
    }
}